#card_name.text{
    width: 99%;
    height: 60px;
    margin-top: 7px;
    left: 26px;
    top: 190px;    
    background: #F4F4F4;
    border-radius: 10px;
    margin-bottom: 30px;
}

#card_description{
    width: 99%;
    height: 400px;
    margin-top: 7px;
    left: 26px;
    top: 190px;    
    background: #F4F4F4;
    border-radius: 10px;
    margin-bottom: 30px;
 
}