header{

    border-bottom: 1px dashed black;

    h1{
    width: 56px;
    height: 25px;
    padding-left: 0px;
    padding-top: 25px;
    padding-bottom: 16px;

    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;

    }

}