.signin{
    height: 36px;
    margin-top: 33px;
    margin-bottom: 60px;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height */
    color: #000000;
}

.tosignup{
    font-size: 25px;
    text-decoration: none;
    color: #000000;
}

